<div class="panel panel-default">
  	<div class="panel-body">
  	<!--	<button class="btn btn-danger" (click)="onEdit()">Edit graph</button>
		<graph-edit *ngIf="edit" ></graph-edit>
		<graph-manipulate *ngIf="!edit"></graph-manipulate>-->
	<div *ngIf="editService.currentGraph?.directed">
		<button class="btn btn-default space " (click)="onKosaraju()">Strong components</button>
		<div class="space">
			<button class="btn btn-default" (click)="onShowBellmanFordSelect()">Bellman-Ford</button>
			<form *ngIf="bellmanFord">
				<div class="form-group">
					<label for="sourcebf">source</label>
					<select class="form-control" name="sourcebf" id="sourcebf" [value]="-1" (change)="onBellmanFord($event.target.value)">
						<option *ngFor="let vertex of editService.currentGraph.vertices; let i = index" [value]="i">{{vertex.name}}</option>
					</select>
					<p *ngIf="editService.warningBF" class="warning">Negative cycle detected.</p>
				</div>
			</form>
		</div>
		<div class="space">
			<button class="btn btn-default" (click)="onShowJohnsonSelect()">Johnson's algoritm</button>
			<form *ngIf="johnson">
				<div class="form-group">
					<label for="sourcej">source</label>
					<select class="form-control" name="sourcej" id="sourcej" [value]="-1" (change)="onJohnson($event.target.value)">
						<option *ngFor="let vertex of editService.currentGraph.vertices; let i = index" [value]="i">{{vertex.name}}</option>
					</select>
					<p *ngIf="editService.warningJ" class="warning">Negative cycle detected.</p>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>